@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


#Calendar {
  margin-top:50px;
  margin-bottom: 50px;
}

.rbc-month-view{
  flex-basis: 500px !important;
}

.rbc-toolbar-label {
  font-weight: bold;
  font-size: 22px;
  color: rgb(57, 56, 56);
}

.rbc-date-cell {
  color: rgb(57, 56, 56);
}

.rbc-today {
  background-color: #e0f2fe !important;
}

/* info cards */

.info-card {
  position: relative;
  background: #fafafa;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.info-card::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, rgba(0, 122, 255, 0.03), transparent);
  transform: translate(-50%, -50%);
  transition: width 0.5s ease, height 0.5s ease;
}

.info-card:hover::before {
  --size: 50vh;
}

.info-card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
